<%- include("partials/header"); -%>


<!-- Page Wrapper -->
<div class="page-wrapper">
  <div class="content container-fluid">

    <!-- Page Header -->
    <div class="page-header">
      <div class="row">
        <div class="col-sm-12">
          <h3 class="page-title">Appointments</h3>
          <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
            <li class="breadcrumb-item active">Appointments</li>
          </ul>
        </div>
      </div>
    </div>
    <!-- /Page Header -->
    <div class="row">
      <div class="col-md-12">

        <!-- Recent Orders -->
        <div class="card">
          <div class="card-body">
            <div class="table-responsive">
              <table class="datatable table table-hover table-center mb-0">
                <thead>
                  <tr>
                    <th>Doctor Name</th>
                    <th>Speciality</th>
                    <th>Patient Name</th>
                    <th>Apointment Time</th>
                    <th>Booking Time</th>
                    <!-- <th>Status</th>
                    <th class="text-right">Amount</th> -->
                  </tr>
                </thead>
                <tbody>

                  <% appointments.forEach(function(appointment) { %>

                  <tr>
                    <td>
                      <h2 class="table-avatar">
                        <a href="profile.html" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="/assets/img/doctorAvatar.png" alt="User Image"></a>
                        <a href="profile.html"><%= appointment.doctor.firstName + " " + appointment.doctor.lastName  %></a>
                      </h2>
                    </td>
                    <td><%= appointment.doctor.department %></td>
                    <td>
                      <h2 class="table-avatar">
                        <a href="profile.html" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="/assets/img/avatar.png" alt="User Image"></a>
                        <a href="profile.html"><%= appointment.patient.firstName + " " + appointment.patient.lastName  %> </a>
                      </h2>
                    </td>
                    <td>
                      <%= appointment.date.getDate() + "/" + (appointment.date.getMonth()+1) + "/" + appointment.date.getFullYear() %>
                      <span class="text-primary d-block">
                        <%= appointment.timeSlot %>
                      </span>
                    </td>
                    <td>01/01/2000 </td>
                    <!-- <td>
                      <div class="status-toggle">
                        <input type="checkbox" id="status_1" class="check" checked>
                        <label for="status_1" class="checktoggle">checkbox</label>
                      </div>
                    </td> -->
                    <!-- <td class="text-right">
                      $200.00
                    </td> -->
                  </tr>

                  <% }); %>

                </tbody>
              </table>
            </div>
          </div>
        </div>
        <!-- /Recent Orders -->

      </div>
    </div>
  </div>
</div>
<!-- /Page Wrapper -->




<%- include("partials/footer"); -%>
