<%- include("partials/header"); -%>



<!-- Page Wrapper -->
<div class="page-wrapper">
  <div class="content container-fluid">

    <!-- Page Header -->
    <div class="page-header">
      <div class="row">
        <div class="col-sm-12">
          <h3 class="page-title">List of Patient</h3>
          <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
            <li class="breadcrumb-item"><a href="javascript:(0);">Users</a></li>
            <li class="breadcrumb-item active">Patient</li>
          </ul>
        </div>
      </div>
    </div>
    <!-- /Page Header -->

    <div class="row">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-body">
            <div class="table-responsive">
              <div class="table-responsive">
                <table class="datatable table table-hover table-center mb-0">
                  <thead>
                    <tr>
                      <!-- <th>Patient ID</th> -->
                      <th>Patient Name</th>
                      <th>DOB</th>
                      <th>Address</th>
                      <th>Phone</th>
                    </tr>
                  </thead>
                  <tbody>

                    <%  patients.forEach(function(patient){ %>

                    <tr>
                      <!-- <td>#PT001</td> -->
                      <td>
                        <h2 class="table-avatar">
                          <a href="profile.html" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="/assets/img/avatar.png" alt="User Image"></a>
                          <a href="profile.html"><%= patient.firstName + " " + patient.lastName %> </a>
                        </h2>
                      </td>
                      <% const d = new Date(patient.dob) %>
                      <td><%= d.getDate() + "/" + (d.getMonth()+1) + "/" + d.getFullYear() %></td>
                      <td style="overflow: hidden; text-overflow: ellipsis;  max-width: 30ch;"><%= patient.address %></td>
                      <td><%= patient.phoneNumber %></td>

                    </tr>

                    <%   });  %>

                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
<!-- /Page Wrapper -->



<%- include("partials/footer"); -%>
