<%- include("partials/header", {user: user}); -%>

<!-- Breadcrumb -->
<div class="breadcrumb-bar">
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-md-8 col-12">
        <nav aria-label="breadcrumb" class="page-breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Search</li>
          </ol>
        </nav>
        <h2 class="breadcrumb-title">Search</h2>
      </div>
      <div class="col-md-4 col-12 d-md-block d-none">
        <div class="sort-by">
          <span class="sort-title">Sort by</span>
          <span class="sortby-fliter">
            <select class="select">
              <option>Select</option>
              <option class="sorting">Rating</option>
              <option class="sorting">Popular</option>
              <option class="sorting">Free</option>
            </select>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /Breadcrumb -->

<!-- Page Content -->
<div class="content">
  <div class="container-fluid">

    <div class="row">
      <div class="col-md-12 col-lg-4 col-xl-3 theiaStickySidebar">

        <!-- Search Filter -->

        <form class="" action="search" method="post">
          <div class="card search-filter">
            <div class="card-header">
              <h4 class="card-title mb-0">Search Filter</h4>
            </div>
            <div class="card-body">
              <div class="filter-widget">
                <h4>Select Specialist</h4>
                <div>
                  <label class="custom_check">
                    <input type="checkbox" name="select_specialist" value="Urology">
                    <span class="checkmark"></span> Urology
                  </label>
                </div>
                <div>
                  <label class="custom_check">
                    <input type="checkbox" name="select_specialist" value="Neurology">
                    <span class="checkmark"></span> Neurology
                  </label>
                </div>
                <div>
                  <label class="custom_check">
                    <input type="checkbox" name="select_specialist" value="Dentist">
                    <span class="checkmark"></span> Dentist
                  </label>
                </div>
                <div>
                  <label class="custom_check">
                    <input type="checkbox" name="select_specialist" value="Orthopedic">
                    <span class="checkmark"></span> Orthopedic
                  </label>
                </div>
                <div>
                  <label class="custom_check">
                    <input type="checkbox" name="select_specialist" value="Cardiologist">
                    <span class="checkmark"></span> Cardiologist
                  </label>
                </div>
              </div>
              <div class="btn-search">
                <button class="btn btn-block" type="submit" name="search">Search</button>
              </div>
            </div>
          </div>
        </form>

        <!-- /Search Filter -->

      </div>

      <div class="col-md-12 col-lg-8 col-xl-9">

        <%  doctors.forEach(function(doctor){ %>

        <!-- Doctor Widget -->
        <div class="card">
          <div class="card-body">
            <div class="doctor-widget">
              <div class="doc-info-left">
                <div class="doctor-img">
                  <a href="docProfile/<%= doctor._id %>"> //changes
                    <img src="assets/img/doctors/doctor-thumb-01.jpg" class="img-fluid" alt="User Image">
                  </a>
                </div>
                <div class="doc-info-cont">
                  <h4 class="doc-name"><a href="docProfile/<%= doctor._id %>"><%= doctor.firstName + " " + doctor.lastName %></a></h4>
                  <p class="doc-speciality">MDS - Periodontology and Oral Implantology, BDS</p>
                  <h5 class="doc-department"><img src="assets/img/specialities/<%= doctor.department%>.png" class="img-fluid" alt="Speciality"><%= doctor.department %></h5>
                  <div class="rating">
                    <i class="fas fa-star filled"></i>
                    <i class="fas fa-star filled"></i>
                    <i class="fas fa-star filled"></i>
                    <i class="fas fa-star filled"></i>
                    <i class="fas fa-star"></i>
                    <span class="d-inline-block average-rating">(17)</span>
                  </div>
                  <div class="clinic-details">
                    <p class="doc-location"><i class="fas fa-map-marker-alt"></i> <%= doctor.location %></p>
                    <ul class="clinic-gallery">
                      <li>
                        <a href="assets/img/features/feature-01.jpg" data-fancybox="gallery">
                          <img src="assets/img/features/feature-01.jpg" alt="Feature">
                        </a>
                      </li>
                      <li>
                        <a href="assets/img/features/feature-02.jpg" data-fancybox="gallery">
                          <img src="assets/img/features/feature-02.jpg" alt="Feature">
                        </a>
                      </li>
                      <li>
                        <a href="assets/img/features/feature-03.jpg" data-fancybox="gallery">
                          <img src="assets/img/features/feature-03.jpg" alt="Feature">
                        </a>
                      </li>
                      <li>
                        <a href="assets/img/features/feature-04.jpg" data-fancybox="gallery">
                          <img src="assets/img/features/feature-04.jpg" alt="Feature">
                        </a>
                      </li>
                    </ul>
                  </div>
                  <div class="clinic-services">
                    <span>Dental Fillings</span>
                    <span> Whitneing</span>
                  </div>
                </div>
              </div>
              <div class="doc-info-right">
                <div class="clini-infos">
                  <ul>
                    <li><i class="far fa-thumbs-up"></i> 98%</li>
                    <li><i class="far fa-comment"></i> 17 Feedback</li>
                    <li><i class="fas fa-map-marker-alt"></i> <%= doctor.location %></li>
                    <li><i class="far fa-money-bill-alt"></i> $300 - $1000 <i class="fas fa-info-circle" data-toggle="tooltip" title="Hello"></i> </li>
                  </ul>
                </div>
                <div class="clinic-booking">
                  <a class="view-pro-btn" href="docProfile/<%= doctor._id %>">View Profile</a>
                  <a class="apt-btn" href="booking.html">Book Appointment</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /Doctor Widget -->
        <% }) %>

        <div class="load-more text-center">
          <a class="btn btn-primary btn-sm" href="javascript:void(0);">Load More</a>
        </div>
      </div>
    </div>

  </div>

</div>
<!-- /Page Content -->


<%- include("partials/footer"); -%>
