<%- include("../partials/header"); -%>


<!-- Page Wrapper -->
<div class="page-wrapper">
  <div class="content container-fluid">

    <!-- Page Header -->
    <div class="page-header">
      <div class="row">
        <div class="col-sm-12">
          <h3 class="page-title">List of Doctors</h3>
          <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
            <li class="breadcrumb-item"><a href="javascript:(0);">Users</a></li>
            <li class="breadcrumb-item active">Doctor</li>
          </ul>
        </div>
      </div>
    </div>
    <!-- /Page Header -->

    <div class="row">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-body">
            <div class="table-responsive">
              <table class="datatable table table-hover table-center mb-0">
                <thead>
                  <tr>
                    <th>Doctor Name</th>
                    <th>Speciality</th>
                    <th>Fees</th>
                    <th>Account Status</th>

                  </tr>
                </thead>
                <tbody>


                  <%  doctors.forEach(function(doctor){ %>

                    <form action="/doctorStatus" method="post">
                    <tr>
                      <td>
                        <h2 class="table-avatar">
                          <a href="profile.html" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="/assets/img/doctorAvatar.png" alt="User Image"></a>
                          <a href="<%= "doctor/" + doctor._id %>"><%= doctor.firstName + " " + doctor.lastName %></a>
                        </h2>
                      </td>
                      <td><%= doctor.department%></td>

                      <td><%= doctor.price %></td>

                      <td>
                        <div class="status-toggle">
                          <input type="checkbox" name="checkbox" id="<%= doctor._id %>" class="check" onclick="this.form.submit();">
                          <label for="<%= doctor._id %>" class="checktoggle">checkbox</label>
                        </div>
                      </td>
                    </tr>
                  </form>

                  <%   });  %>

                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
<!-- /Page Wrapper -->



<%- include("../partials/footer"); -%>
